@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  overflow-x: hidden;
  background: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
}

.rounded {
  border-radius: 1rem
}

.nav-pills .nav-link {
  color: #555
}

.nav-pills .nav-link.active {
  color: white
}

input[type="radio"] {
  margin-right: 5px
}

.bold {
  font-weight: bold
}

#viewport {
  padding-left: 600px;
}

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 600px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #dcedf5;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}